<html>
	<head>
		{{template "head" .}}
	</head>
	<body>
		{{template "body-pre" .}}
		{{.BodyTop}}
		{{template "notifications" .RepoNotifications}}
	</body>
</html>

{{define "notifications"}}
{{with .}}{{range .}}
	<div class="list-entry list-entry-border mark-as-read">
		<div class="list-entry-header">
			<span class="content"><a class="black" href="{{.RepoURL}}"><strong>{{.Repo.URI}}</strong></a></span>
			<span class="right-icon hide-when-read"><a href="javascript:" onclick="MarkAllRead(this, {{.Repo.URI | json}});" title="Mark all {{base .Repo.URI}} notifications as read"><span class="octicon octicon-check"></span></a></span>
		</div>
		{{range .Notifications}}
			<div class="list-entry-body multilist-entry mark-as-read">
				<span class="content">
					<table style="width: 100%;">
					<tr>
					<td class="notification" style="width: 70%;">
						<span class="octicon octicon-{{.Icon}} fade-when-read" style="color: {{.Color.HexString}};"></span>
						<a class="black gray-when-read" onclick="MarkRead(this, {{`` | json}}, {{`` | json}}, 0);" href="{{.HTMLURL}}">{{.Title}}</a>
					</td>
					<td>
						{{if .Actor.AvatarURL}}<img class="avatar fade-when-read" title="@{{.Actor.Login}}" src="{{.Actor.AvatarURL}}">{{end -}}
						<span class="tiny gray-when-read">{{template "time" .UpdatedAt}}</span>
					</td>
					</tr>
					</table>
				</span>
				<span class="right-icon hide-when-read"><a href="javascript:" onclick="MarkRead(this, {{.AppID | json}}, {{.RepoSpec.URI | json}}, {{.ThreadID}});" title="Mark as read"><span class="octicon octicon-check"></span></a></span>
			</div>
		{{end}}
	</div>
{{end}}{{else}}
	<div style="text-align: center; margin-top: 80px; margin-bottom: 80px;">No new notifications.</div>
{{end}}
{{end}}
