<html>
	<head>
		{{.HeadPre}}
		<link href="{{.BaseURI}}/assets/style.css" rel="stylesheet" type="text/css" />
		<script src="{{.BaseURI}}/assets/script/script.js" type="text/javascript"></script>
	</head>
	<body>
		{{.BodyPre}}
		{{.BodyTop}}
		{{template "notifications" .RepoNotifications}}
	</body>
</html>

{{define "notifications"}}
{{with .}}{{range .}}
	{{render .}}
{{end}}{{else}}
	<div style="text-align: center; margin-top: 80px; margin-bottom: 80px;">No new notifications.</div>
{{end}}
{{end}}
