a.black {
	color: #373a3c;
	text-decoration: none;
}
a.black:hover {
	text-decoration: underline;
}

.tiny {
	font-size: 12px;
}

div.list-entry {
	margin-top: 12px;
	margin-bottom: 24px;
}
div.list-entry-border {
	border: 1px solid #ddd;
	border-radius: 4px;
}
div.list-entry-header {
	font-size: 14px;
	background-color: #f8f8f8;
	padding: 10px;
	border-radius: 4px 4px 0 0;
	border-bottom: 1px solid #eee;
}
div.list-entry-body {
	padding: 10px;
}
div.multilist-entry:not(:nth-child(0n+2)) {
	border: 0px solid #ddd;
	border-top-width: 1px;
}

.notification .octicon {
	margin-right: 6px;
}

.read .gray-out-when-read {
	color: #888 !important;
}
.read .gray-out-when-read img.avatar {
	opacity: 0.6;
}
.read .hide-when-read {
	visibility: hidden;
}

.content td {
	padding: 0;
}
span.content {
	display: table-cell;
	width: 100%;
}
span.right-icon {
	display: table-cell;
	vertical-align: middle;
	padding-left: 12px;
	padding-right: 4px;
}
span.right-icon a {
	color: #bbb;
}
span.right-icon a:hover {
	color: black;
}

img.avatar {
	border-radius: 2px;
	width: 18px;
	height: 18px;
	vertical-align: text-top;
	padding-right: 10px;
}
